In [4]:
#https://iextrading.com/developer/docs/#attribution
#https://pypi.org/project/iexfinance/

from iexfinance.stocks import Stock
from datetime import datetime, timedelta
import numpy as np
from iexfinance.stocks import get_historical_data
import pandas as pd

API_KEY = "pk_02b9dcc6224746218ad55dcd0fe08099"

token = API_KEY

In [5]:
tickerSymbol = input("Ticker Symbol: ")
companyInfo = Stock(tickerSymbol, token = API_KEY)
stockPrice = companyInfo.get_price()

Ticker Symbol: AAPL

In [6]:
start = datetime(sy,sm,sd)
end = datetime(ey, em,ed)

historicalPrices = get_historical_data(tickerSymbol, start, end, token = API_KEY)

NameError: name 'sy' is not defined

In [6]:
stockHistoricals = pd.DataFrame(historicalPrices).T

In [7]:
display(stockHistoricals.head())

              open    high     low   close      volume
2020-01-02  206.75  209.79  206.27  209.78  12090707.0
2020-01-03  207.21  210.40  206.95  208.67  11197416.0
2020-01-06  206.70  212.78  206.52  212.60  17073861.0
2020-01-07  212.82  214.58  211.75  213.06  15111857.0
2020-01-08  213.00  216.24  212.61  215.22  13492703.0

In [20]:
selected_columns = stockHistoricals[["open", "high", "low", "close", "close", "volume"]]
Stock_DF = selected_columns.copy()

In [21]:
Stock_DF.close.head()

             close   close
2020-01-02  209.78  209.78
2020-01-03  208.67  208.67
2020-01-06  212.60  212.60
2020-01-07  213.06  213.06
2020-01-08  215.22  215.22

In [23]:
# Stock_DF.rename_col_by_index(4, 'adj close')
Stock_DF.columns = ["Open", "High", "Low", "Close", "Adj Close", "Volume"]
# Stock_DF.rename(columns = {"open":"Open", "high":"High", "low":"Low", "close":"Close", "adj close":"Adj Close","volume":"Volume"}, inplace=True) 
Stock_DF.index.name = 'Date'

In [24]:
Stock_DF.head()

              Open    High     Low   Close  Adj Close      Volume
Date
2020-01-02  206.75  209.79  206.27  209.78     209.78  12090707.0
2020-01-03  207.21  210.40  206.95  208.67     208.67  11197416.0
2020-01-06  206.70  212.78  206.52  212.60     212.60  17073861.0
2020-01-07  212.82  214.58  211.75  213.06     213.06  15111857.0
2020-01-08  213.00  216.24  212.61  215.22     215.22  13492703.0

In [26]:
Stock_DF.to_csv("Data_FC2-KPN.csv")